<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/app.css">
</head>

<div>
    <form class="flex" style="flex-direction: column; margin-top: 60px;" action="/dashboard/about/<%= aboutText._id %>" method="post">
        <textarea 
        dir="rtl"
        type="text"
        name="content" 
        id="content"> <%= aboutText.content %></textarea>
        <button type="submit">add</button>
    </form>
</div>