<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/app.css">
</head>

<form class="flex" style="flex-direction: column;" action="/dashboard/home/<%= pageText._id %>" method="post">
    <label for="title">Title:</label>
    <input 
    dir="rtl"
    type="text" 
    name="title"
    id="title"
    value="<%= pageText.title %>">
    <textarea 
    style="width: 340px;
    height: 300px;
    padding: 10px;"
    dir="rtl"
    type="text"
    name="content" 
    id="content"> <%= pageText.content %></textarea>
    <button type="submit">add</button>
</form>