

<head>
<link rel="stylesheet" href="styles/app.css">
</head>

<div class="footer">
    <nav class="footer">
        <a href="/">Home</a>
        <a href="/about">about</a>
        <a href="/shop">shop</a>
        <a href="/orders">Orders</a>
    </nav>
    <p>All rights reserved to Smokit</p>
</div>