

<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="styles/app.css">
</head>

<div class="footer">
    <nav class="footer">
        <a href="/">עמוד הבית</a>
        <a href="/about">אודות עמוד</a>
        <a href="/shop">לקנות עכשיו</a>
        <a href="/orders">הזמנות</a>
    </nav>
    <p>כל הזכויות שמורות ל Smokit</p>
</div>