

<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="styles/app.css">
</head>

<div class="footer">
    <div>
        <img src="/images/smokit-white.png" alt="Logo" width="150px" style="margin: 50px;">
    </div>
        <a href="/">עמוד הבית</a>
        <a href="/about">אודות עמוד</a>
        <a href="/shop">לקנות עכשיו</a>
        <a href="/orders">הזמנות</a>
    </nav>
    
    <div class="flex">
        <a href="https://t.me/SmoKit_IL">
            <img src="/images/telegram.png" alt="" width="120px">
        </a>
        <a href="https://www.instagram.com/smokitil?igsh=MTZzYTUycXRob3B6dg%3D%3D&utm_source=qr">
            <img src="/images/insta.png" alt="" width="150px">
        </a>
    </div>
    <p>כל הזכויות שמורות ל Smokit</p>
</div>