<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <a href="/cart" class="fas fa-shopping-cart" style="font-size: larger;" ></a>
        <a href="/"><img style="max-width: 100px;" src="/images/smokit.png" alt="Logo"></a>
        <nav class="nav-links">
            <a href="/">עמוד הבית</a>
            <a href="/about">אודות עמוד</a>
            <a href="/shop">לקנות עכשיו</a>
            <a href="/orders">הזמנות</a>
        </nav>
        <div class="nav-toggle">
            <i class="fas fa-bars"></i>
        </div>
    </div>
    <script src="/scripts/scripts.js"></script>
</body>
</html>