<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/app.css">
    <title>Document</title>
</head>
<body>
    <div class="flex">
        <div class="hero-BG">
            <div>
                <div class="hero-header">
                    <a href="/cart" class="fas fa-shopping-cart" style="font-size: larger;
                     border: 0.5px solid white;
                     border-radius: 5px;
                     padding: 10px;" ></a>
                    <a href="/"><img style="max-width: 150px;" src="/images/smokit-white.png" alt="Logo"></a>
                    <nav class="hero-nav-links">
                        <a href="/">עמוד הבית</a>
                        <a href="/about">אודות עמוד</a>
                        <a href="/shop">לקנות עכשיו</a>
                        <a href="/orders">הזמנות</a>
                    </nav>
                    <div class="hero-nav-toggle">
                        <i class="fas fa-bars"></i>
                    </div>
                </div>
            </div>
            <div class="flex">
                <div>
                    <div class="hero-text">
                        <% pageText.forEach((text) => { %>
                            <h1 style="font-weight: bolder;"> <%= text.title %></h1>
                            <p style="margin-top: 10px;"> <%= text.content %></p>
                        <% }); %>
                     </div>
                </div>
            </div>
            
            
        </div>
        
    </div>
</body>
</html>