
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/dashboard.css">
</head>
<%- include('dashboardHeader'); -%>
<%- include("hero"); -%>


</form>
<% if(pageText.length > 0) { %>
    <% pageText.forEach((text) => { %>
        <div class="flex">
            <button  style="width: 200px;
            margin-top: 20px;
            z-index: 30;">
            <a href="/dashboard/home/<%= text._id %>">Edit</a>
            </button>
        </div>
    <% }) %>
<% } else { %>
    <form class="flex" style="flex-direction: column;" action="/dashboard/home" method="post">
        <label for="title">Title:</label>
        <input 
        dir="rtl"
        type="text" 
        name="title"
        id="title"
        >
        <textarea 
        dir="rtl"
        type="text"
        name="content" 
        id="content"></textarea>
        <button type="submit">add</button>
    </form>
 <% } %>


