
<head>
    <link rel="stylesheet" href="/styles/app.css">
</head>
<%- include('dashboardHeader'); -%>
<%- include("hero"); -%>


</form>
<% pageText.forEach((text) => { %>
    <div class="flex" style="margin-top: -150px;">
        <button style="width: 200px;">
        <a href="/dashboard/home/<%= text._id %>">Edit</a>
        </button>
    </div>
<% }) %>

