<head>
    <meta charset="UTF-8">
</head>
<div class="flex">
    <div class="table-container">
        <ul class="table">
            <li class="flex">גריינדר <img src="/icons/grinder.png" alt="" width="50 px"></li>
            <li class="flex">מאפרה <img src="/icons/ashtray.png" alt="" width="50 px"></li>
            <li class="flex">כיסוי קליפר <img src="/icons/lighter.png" alt="" width="50 px"></li>
            <li class="flex">קופסת אחסון <img src="/icons/box.png" alt="" width="50 px"></li>
            <li class="flex">מגש <img src="/icons/baking-tray.png" alt="" width="50 px"></li>
            <li class="flex">שמרפאף <img src="/icons/joint.png" alt="" width="50 px"></li>
        </ul>
    </div>
</div>

