
<div class="flex">
    <div class="table-container">
        <ul class="table">
            <li class="flex">Grinder <img src="/icons/grinder.png" alt="" width="50 px"></li>
            <li class="flex">Ashtray <img src="/icons/ashtray.png" alt="" width="50 px"></li>
            <li class="flex">Clipper <img src="/icons/lighter.png" alt="" width="50 px"></li>
            <li class="flex">Storage Box <img src="/icons/box.png" alt="" width="50 px"></li>
            <li class="flex">Tray <img src="/icons/baking-tray.png" alt="" width="50 px"></li>
            <li class="flex">Joint keeper <img src="/icons/joint.png" alt="" width="50 px"></li>
        </ul>
    </div>
</div>

