<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="/styles/app.css" />
  </head>
  
  <body>
    <%- include('header'); -%>
    <div class="login">
      <h1>Register</h1>
    <form
      class="flex"
      style="flex-direction: column"
      action="/register"
      method="POST" >
      
      <p>Name</p>
      <input type="text" name="fName">
      <p>Phone number</p>
      <input type="text" name="phone" required="true">
      <label for="email">Email:</label>
      <input type="email" name="email" required />
      <label for="password">Password:</label>
      <input type="password" name="password" required />
      <div class="flex" style="flex-direction: column;"></div>
                    
                    <button type="submit">Register</button>
                </div>
    </form>
    </div>
    
  </body>
</html>
