<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="flex">
        <div style="width: 340px; text-align: center;">
            <div>
                <Strong style="font-size: larger; color: white;">Contect us on these for further communication</Strong>
            </div>
            <div class="flex" style="margin-bottom: 30px; font-size: small;">
                <a href="https://t.me/SmoKit_IL">
                    <img src="/images/telegram.png" alt="" width="120px">
                </a>
                <a href="https://www.instagram.com/smokitil?igsh=MTZzYTUycXRob3B6dg%3D%3D&utm_source=qr">
                    <img src="/images/insta.png" alt="" width="150px">
                </a>
            </div>
        </div>
    </div>
</body>
</html>