<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="flex" style="margin-bottom: 40px;">
        <div style="width: 340px; border: 0.5px solid gray; border-radius: 10px; padding: 10px; text-align: center;">
            <div>
                <Strong>Contect us on these for further communication</Strong>
            </div>
            <div class="flex" style="margin-bottom: 30px; font-size: small;">
                <a href="https://t.me/SmoKit_IL">
                    <img src="/images/telegram.png" alt="" width="120px">
                </a>
                <a href="https://www.instagram.com/smokitil?igsh=MTZzYTUycXRob3B6dg%3D%3D&utm_source=qr">
                    <img src="/images/insta.png" alt="" width="150px">
                </a>
            </div>
        </div>
    </div>
    <div  class="flex" >
        <div style=" border: 0.5px solid gray; border-radius: 10px; width: 350px;">
            <img  style="width: 340px;" src="/images/download - 2024-08-19T185550.111.png" alt="">
        </div></div>
</body>
</html>