*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.product-btn{
    width: 350px;
    margin-top: 5px;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
form{
    text-align: center;
}

a{
    color: inherit;
    text-decoration: none;
    margin-right: 10px;
}

.card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.card{
    width: 350px;
    height: auto;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5) ;
    text-align: center;
    padding: 10px;
    font-size: large;
}

.card img{
    width: 340px;
}

.table-container{
    width: 350px;
    margin: 40px 0;
    color: white;
}


.table{
    color: #ffffff;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    list-style: none;
}

.table li{
    border: 0.3px solid rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
}

table i {
    color: #ffffff;
}

.table li:hover {
    background-color: #64b78f;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}


button{
    border: none;
    width: 340px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    background-color: rgb(26, 56, 26);
    color: white;
}

.product-page{
    padding-top: 80px;
    padding-bottom: 40px;
    text-align: right;
    
}
.product-page .image{
    width: 500px;
    border-radius: 20px;
}
.product-page .texts{
    border-bottom: 0.2px solid rgb(195, 195, 195);
}


.header{
    position: fixed;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    border-bottom: 0.2px solid rgb(187, 187, 187);
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    z-index: 10;

}


.cart{
    margin-top: 50px;
    text-align: center;
}

.footer{
    padding: 20px 0;
    background: #1e4532;
    color: white;
    margin-top: 20px;
    text-align: center;
}

.footer a{
    font-size: large;
    display: block;
    margin: 10px;
}

.nav-toggle{
    display: none;
    font-size: larger;
}

.login{
    padding-top: 80px;
    text-align: center;
}
input{
    width: 320px;
    text-align: left;
    border-radius: 10px;
    padding: 10px;
    font-size: large;
}
.hero-BG{
    background-image: url("/images/BG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    color: white;
    z-index: 10;
    width: 100%;
}
.hero-text{
    text-align: center;
    font-size: larger;
    width: 600px;
    margin-top: 50px;
}

.order-page{
    margin-top: 60px;
    text-align: center;
}

.hero-header{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    align-items: center;
    margin-top: 50px;
}

.hero-nav-links{
    display: block;
}


.hero-nav-toggle{
    display: none;
    border: 0.5px solid white;
    padding: 10px;
    border-radius: 5px;
}

@media (max-width:1000px){
    .hero-text{
        text-align: center;
        margin-right: 0;
        font-size: large;
    }
}
@media (max-width:600px) {
    nav{
        display: none;
    }

    .nav-toggle{
        display: block;
        cursor: pointer;
    }
    .nav-links {
        position: fixed;
        right: -100%;
        top: 0;
        height: auto;
        flex-direction: column;
        background-color:#ffffff;
        justify-content: center;
        align-items: center;
        transition: right 0.3s ease;
        margin-top: 60px;
        display: block;
        text-align: right;
        padding-right: 40px;
        border-radius: 10px 0 0  10px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    }
    .nav-links a{
        display: block;
        margin: 10px;
        color: rgb(0, 0, 0);
        padding: 10px;
    }
    .nav-links.show {
        right: 0;
        display: block;
    }
    .footer{
        display: block;
    }
    .product-page .image{
        width: 350px;
        border-radius: 10px;
    }

    .hero-text{
        text-align: center;
        font-size: 100%;
        width: 350px;
    }
    .product-btn{
        right: 200px;
    }
    .hero-nav-links{
        display: none;
        position: absolute;
        top: 0;
        height: auto;
        flex-direction: column;
        background-color: #1e4532 ;
        justify-content: center;
        align-items: center;
        transition: right 0.3s ease;
        margin-top: 95px;
        text-align: right;
        padding-right: 40px;
        border-radius: 10px 0 0  10px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    }
    .hero-nav-toggle{
        display: block;
        cursor: pointer;
    }

    .hero-nav-links.show {
        right: 0;
        display: block;
    }

    .hero-nav-links a{
        display: block;
        margin: 10px;
        color: white;
        padding: 10px;
    }
    
}